<style>
    .email {
        font-family: 'Dosis', sans-serif;
    }

    .email h1 {
        font-family: 'Limelight', cursive;
        color: #c42323;
    }

    .email .logo {
        width: 20%
    }

</style>
<div class="container email">
    <div class="row justify-content-center">
        <h1>Bonjour !</h1>
    </div>
    <div class="row justify-content-center">
        <p>Vous avez oublié votre mot de passe et vous souhaitez le réinitialiser ?</p>
    </div>
    <div class="row justify-content-center">
        <p>Veuillez trouver ci-dessous le lien pour réinitialiser votre mot de passe : <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a></p>
    </div>
    <div class="row justify-content-center">
        <p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</a></p>
    </div>
    <div class="row justify-content-center">
        <p>Si jamais, vous n'aviez pas demandé de réinitialisation de mot de passe, merci de ne pas tenir compte de cet email.</a></p>
    </div>
    <div class="row justify-content-center mt-5">
        <p> A très vite sur CLAP !</a></p>
    </div>
</div>