{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container forgottenPw">

        <div class="row justify-content-center">
            <h1 class="mt-5 mb-5">CLAP</h1>
        </div>

    {{ form_start(requestForm) }}
        <div class="row justify-content-center rubberBand">
            <i class="fas fa-lock"></i>
        </div>
        <div class="row justify-content-center info mt-4">
            <div class="col-md-5 text-center mb-4 lead">
                <p>Indique l'email avec lequel tu t'es inscrit(e).</p>
                <p>Si jamais l'information est valide, tu recevras un email pour réinitialiser ton mot de passe.</p>
            </div>
        </div>
        <div class="row justify-content-center info">
            {{ form_row(requestForm.email) }}
        </div>
        <div class="row justify-content-center info">
            <button class="btn btn-secondary btn-resetpw mt-5">Envoyer</button>
        </div>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}