{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block content %}
    <div class="row justify-content-center">
            <h1 class="mt-5 mb-5 text-center">Réinitialisez <br> votre mot de passe</h1>
    </div>

    <div class="row justify-content-center">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <div class="col-6">
                <button type="submit" class="btn btn-secondary m-5 btnreset">Réinitialisez</button>
            </div>
        {{ form_end(resetForm) }}
        
    </div>
    <div class="row justify-content-center my-5 py-5">
        <div class="col-6 text-center">
            <img src="{{asset('asset/img/reset.png')}}" alt="reset" class="rotateIn">
        </div>
    </div>
{% endblock %}
