{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
{# Formulaire de contact #}
<div class="banniere-contact">
    <img src="{{asset('asset/img/monde.jpg')}}" alt="contact" class="img-monde">
    <h1 class="h1-contact">Contact <i class="far fa-envelope"></i></h1>
</div>

<div class="container-contact">

		<div class="row- justify-content-center">
            <h1 class="mt-5 mb-5 text-center">Une suggestion, une question ?</h1>
            <h2 class="mt-5 mb-5 text-center h2-contact">N'hésite pas à nous contacter, nous te répondrons rapidement <i class="far fa-laugh-beam"></i></h2>
		</div>

		<div class="row justify-content-center mb-4">
			<form method="post" class="col-8 col-xl-6">
        
			{# Message d'erreur et de réussite #}
					{% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} col-7 m-auto">
                {% for message in messages %}
                    {{ message|raw }} 
                {% endfor %}
            </div>
        {% endfor %}

				<div class="form-group row">
                    <label for="lastname">Nom :</label>
                    <input class="form-control" name="lastname" id="lastname"></input>
				</div>

				<div class="form-group row">
					<label for="firstname">Prénom :</label>
                    <input class="form-control" name="firstname" id="firstname"></input>
				</div>

				<div class="form-group row">
					<label for="email">Email :</label>
                    <input class="form-control" name="email" id="email"></input>
				</div>

				<div class="form-group row">
					<label for="object">Objet :</label>
                    <input class="form-control" name="object" id="object"></input>
				</div>

				<div class="form-group row">
					<label for="message">Message :</label>
                    <textarea class="form-control" name="message" id="message"></textarea>
				</div>

				<div class="row justify-content-center">
					<button class="btn btn-secondary m-5 btn-signin" type="submit">
						Envoyer
					</button>
				</div>

			</form>

		</div>

	</div>

</div>

{% endblock %}

{% block js %} {% endblock %}
