{% extends 'base.html.twig' %}

{% block title %}Credits{% endblock %}

{% block css %}
<link href="{{ asset('asset/css/fab.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{# <div class="row jutify-content-center image">
    
</div> #}
<section>
    <div class="container-fluid credits">
        <img src="{{asset('asset/img/credits.jpg')}}" alt="credits" width="100%" height="100%" class="img-fluid">
        <div class="card-img-overlay">
            <div class="row justify-content-center title">
                <h1 class="credits-title mt-5">CREDITS</h1>
            </div>
            <div class="row justify-content-center content mt-4 pt-4">
                <div class="col-6">
                    <div class="row justify-content-center lead">
                        <p>Nous avons utilisé pour cette application l'API : </p>
                    </div>
                    <div class="row justify-content-center ">
                        <img src="{{asset('asset/img/blue_square_1-TMDB.svg')}}" style="width:20%">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center content mt-2 pt-2">
                <div class="col-6">
                    <div class="row justify-content-center mt-3 lead">
                        <p>Utilisation des ressources suivantes : </p>
                    </div>
                    <div class="row justify-content-center ">
                        <p>Pixabay, Unsplash et Freepik</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}

{% block js %} {% endblock %}