{% extends 'base.html.twig' %}

{% block title %}Credits{% endblock %}

{% block css %}
 
 <style>
 body {
     background: #000
 }
 footer {
    position: relative;
    z-index: 15000;
 }
 </style>
{% endblock %}

{% block content %}

{# Salutations #}
{% if app.user %}
	<div class="animation">
		<span class="text2">Bonjour {{app.user.pseudo}} !</span>
    </div>
{% endif %}

<section id="credits-page">
    <div class="container-fluid credits">
        <img src="{{asset('asset/img/credits.jpg')}}" alt="credits" width="100%" height="100%" class="img-fluid">
        <div class="card-img-overlay">
            <div class="row justify-content-center title">
                <h1 class="credits-title mt-5">CREDITS</h1>
            </div>
            <div class="row justify-content-center content mt-5 pt-5">
                <div class="col-6">
                    <div class="row justify-content-center lead">
                        <p>Nous avons utilisé pour cette application l'API : </p>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <img src="{{asset('asset/img/blue_square_1-TMDB.svg')}}" style="width:20%">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center content mt-5 pt-5">
                <div class="col-6">
                    <div class="row justify-content-center mt-3 lead">
                        <p>Utilisation des ressources suivantes : </p>
                    </div>
                    <div class="row justify-content-center lead">
                        <p>Pixabay, Unsplash et Freepik</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center content mt-3 pt-3">
                 <img src="{{asset('asset/img/clapperboard.png')}}" style="width:5%">
            </div>
        </div>
    </div>
    
</section>
{% endblock %}

{% block js %} {% endblock %}