{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <img class="col-12" src="{{asset('asset/img/logoBR.png')}}" alt="logo" width="w-25" height="w-25">
        <h1 class="text-center">CLAP</h1>
        <a href=""><button class="form-control">Trouver un film</button></a>
    </div>
</div>
{% endblock %}

{% block js %} {% endblock %}
