{% extends 'base.html.twig' %}

{% block title %}Supprimer un utilisateur
{% endblock %}

{% block content %}
<div class="banniere-find">
	<img src="{{asset('asset/img/jakob-owens-CiUR8zISX60-unsplash.jpg')}}" alt="admission" id="img-admission">
</div>  
<div class="container user-suppr">
	<h1 class="text-center mt-5 pt-5">
		Attention !
	</h1>

	<div class="row justify-content-center mb-5 pb-5">
		<div class="col-8">

			<form method="post" class="col-12">
				<h2 class="text-center h5 mb-5">Etes-vous sûre de vouloir supprimer l'utilisateur "{{user.pseudo|upper}}" ?</h2>
				<div class="text-center">
					<a href="{{path('admin_list')}}" class="btn btn-dark">Annuler</a>
					<input type="hidden" name="action" value="delete">
					<button type="submit" class="btn btn-danger">Oui, je veux supprimer l'utilisateur</button>
				</div>
			</form>

		</div>
	</div>
	</div>
{% endblock %}
