{% extends 'base.html.twig' %}

{% block title %}Supprimer un utilisateur
{% endblock %}

{% block content %}
<div class="container user-suppr" style="margin-top: 20%">
	<h1 class="text-center">
		Attention !
	</h1>

	<div class="row justify-content-center">
		<div class="col-8">

			<form method="post" class="col-12">
				<h2 class="text-center h5 mb-3">Etes-vous sûre de vouloir supprimer l'utilisateur "{{user.pseudo|upper}}" ?</h2>
				<div class="text-center">
					<a href="{{path('admin_list')}}" class="btn btn-dark">Annuler</a>
					<input type="hidden" name="action" value="delete">
					<button type="submit" class="btn btn-danger">Oui, je veux supprimer l'utilisateur</button>
				</div>
			</form>

		</div>
	</div>
	</div>

	<div style="visibility: hidden">
	Pellentesque suscipit magna sed risus finibus mollis. Nam at viverra turpis 
	Pellentesque suscipit magna sed risus finibus mollis. Nam at viverra turpis, nec laoreet ex. Quisque magna neque, vulputate nec ipsum ac, laoreet luctus neque. Sed ut purus vestibulum, efficitur nunc sed, pretium ipsum. Fusce quis justo viverra, tempus diam et, vulputate velit. Nunc maximus mattis enim, sit amet viverra sem blandit et. Ut ac ullamcorper urna. Sed eget mattis lorem, eget sollicitudin lectus. Donec in ex mollis turpis bibendum dictum. Sed et nulla iaculis, posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut 
	Pellentesque suscipit magna sed risus finibus mollis. Nam at viverra turpis, nec laoreet ex. Quisque magna neque, vulputate nec ipsum ac, laoreet luctus neque. Sed ut purus vestibulum, efficitur nunc sed, pretium ipsum. Fusce quis justo viverra, tempus diam et, vulputate velit. Nunc maximus mattis enim, sit amet viverra sem blandit et. Ut ac ullamcorper urna. Sed eget mattis lorem, eget sollicitudin lectus. Donec in ex mollis turpis bibendum dictum. Sed et nulla iaculis, posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut urna. Suspendisse vel egestas sapien. 
	Pellentesque suscipit magna sed risus finibus mollis. Nam at viverra turpis, nec laoreet ex. Quisque magna neque, vulputate nec ipsum ac, laoreet luctus neque. Sed ut purus vestibulum, efficitur nunc sed, pretium ipsum. Fusce quis justo viverra, tempus diam et, vulputate velit. Nunc maximus mattis enim, sit amet viverra sem blandit et. Ut ac ullamcorper urna. Sed eget mattis lorem, eget sollicitudin lectus. Donec in ex mollis turpis bibendum dictum. Sed et nulla iaculis, posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut urna. Suspendisse vel egestas sapien. posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut urna. Suspendisse vel egestas sapien. 
	Pellentesque suscipit magna sed risus finibus mollis. Nam at viverra turpis, nec laoreet ex. Quisque magna neque, vulputate nec ipsum ac, laoreet luctus neque. Sed ut purus vestibulum, efficitur nunc sed, pretium ipsum. Fusce quis justo viverra, tempus diam et, vulputate velit. Nunc maximus mattis enim, sit amet viverra sem blandit et. Ut ac ullamcorper urna. Sed eget mattis lorem, eget sollicitudin lectus. Donec in ex mollis turpis bibendum dictum. Sed et nulla iaculis, posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut urna. Suspendisse vel egestas sapien. posuere sem id, placerat nunc. Nulla lacus nisi, placerat eu volutpat a, porttitor ut urna. Suspendisse vel egestas sapien. 
	</div>
{% endblock %}
