/* General */

section{
   font-family:"Dosis:wght@500";
   background-color:#151515;
   color: white;
}

h2{
   font-size: 24px;
}

.title{
    font-family:"Limelight";
    color: #c42323;
}

.button{
   background-color: #9b9999;
   color: white;
}

.relative{
   position: relative;
}

.absolute{
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.image{
   background-image: url("../img/erreur500.jpg");
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
}

.content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.content-error{
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
}

.content-error-500{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;

}

/* pageERREUR */

.title-error{
   font-size: 1em;
}

.absolute-button{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #9b9999;
   color: white;
}

/* taille texte */
@media screen and (min-width:720px){
   .title-error{
      font-size: 1.6em;
   }
}
@media screen and (min-width:1200px){
   .title-error{
      font-size: 2.4em;
   }
}