/****************************
*          GENERAL           *
****************************/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
    top : 106px;
    position: relative;
}

h1 {
    font-family: 'Limelight', cursive;
    color: var(--title-color);
    padding-bottom: 1em;
}

h2 {
    font-size: 24px;
    color: var(--title-color);
}

:root {
    --main-color: rgb(37, 37, 37);
    --title-color: #c42323;
    --sentence-color: #e8e8e8;
    --grey-color: rgb(218, 218, 218);
}

.btn.btn-secondary {
    margin-bottom: 2em;
}

.textinput {
    width: 100%;
}

.bg_perso {
    background-color: var(--grey-color);
}

/***********************
*    HEADER FOOTER     *
***********************/

/******* NAV BAR  *******/
header {
    background-color: var(--grey-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo-clap {
    width: 80px;
    height: 80px;
}

.navbar,
.footer {
    background-color: var(--grey-color);
    opacity: 1;
}

.header_opaque{
    opacity: 0.95;
}

.navbar a,
.footer span,
.footer a {
    color: #333 !important;
    font-size: 20px;
}

.navbar a:hover {
    color: var(--title-color) !important;
    font-size: 20px;
}

/* Flèche de retour en haut de page */
#arrowTop {
    display: inline-block;
    background-color: #c42323;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#arrowTop > i {
    font-size: 2em;
    margin-top: 0.3em;
}

#arrowTop.show {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

  /* Hello User */
  #HelloUser {
    z-index: 100;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    right: 6%;
    animation: user 3s 1;
  }

  @keyframes user {
      0%{
        color: black;
      }
      30%{
          letter-spacing: 25px;
      }
      85%{
          letter-spacing: 8px;
      }
      
  }

.animation {
    z-index: 100;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    right: 6%;
}


.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background: var(--grey-color);
}

/***********************
*         HOME         *
***********************/
#accueil {
    position: relative;
    height: 80vh;
}

#logo-presentation {
    position: absolute;
    top: 25%;
    left: 61%;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img-accueil {
    width: 100%;
    height: 50em;
    object-fit: cover;
}

section {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
    margin-top: 8vh;
}

.content.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quel-film-ce-soir {
    animation-duration: 3.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 0%;
    }
}

.fa-laugh-beam {
    color: var(--sentence-color);
}

p.phome {
    font-size: 1.3rem;
}

.trouver-film-btn {
    background-color: var(--title-color) ! important;
    border: 4px dotted white;
    -webkit-animation-name: hiClick;
    animation-name: hiClick;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes hiClick {
    0% {
        font-size: 100%;
    }

    50% {
        font-size: 115%;
    }

    100% {
        font-size: 100%;
    }
}

@keyframes hiClick {
    0% {
        font-size: 100%;
    }

    50% {
        font-size: 115%;
    }

    100% {
        font-size: 100%;
    }
}

.trouver-film-btn:hover {
    background-color: rgb(255, 0, 0) ! important;
    border: 4px dotted white;
}

.img-popcorn {
    width: 30%;
}

/***********************
*       FIND MOVIE     *
***********************/
.banniere-find{
    position : relative;
}

.title-find{
    color : white;
    text-shadow: black 0.2em 0.3em 0.2em;
    font-size: 3.5rem;
    position: absolute;
    bottom: 28%;
    left : 50%;
    transform: translateX(-50%);

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 

#img-admission{
    width : 100%;
    height: 40vh;
    object-fit: cover;
}

#img-ticket {
    position: absolute;
    left: 46%;
    top: 82%;
    transform: translateX(-46%);

    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }
    @keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }

.tu-sais-deja{
    font-size: 2.3rem !important;
}

.aventureux{
    font-size: 2.3rem !important;
}

.title-genres{
font-size: 2rem !important;
}

.title-year{
    font-size: 2rem !important;
}

.title-runtime{
    font-size: 2rem !important;
}


.find-movie {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
}

.find-movie .logo {
    width: 15%;
}

.find-movie h1 {
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    color: var(--title-color);
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.find-movie .choice {
    text-transform: none;
    color: var(--sentence-color);
}

.find-movie h2 {
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 1.7em;
}

.find-movie .separator {
    border-bottom: 2px solid #e8e8e8;
    display: inline-block;
    width: 50vw;
    margin: 20px 0;
}

.find-movie .random-film {
    text-transform: uppercase;
}

/* .form-check-inline{
    padding-right: 3rem;
    padding-bottom: 2rem;
} */

label{
    font-size: 1.2rem;
}

#go{
    background-color: #c42323;
    font-size: 1.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#hasard{
    background-color: #c42323;
    font-size: 1.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.find-movie .fa-star {
    color: rgb(224, 177, 22);
}


/***********************
*       FILM PAGE      *
***********************/
.main-movie-details{
color : var(--main-color);
}

.main-movie-details p{
    font-size: 1.3rem;
}

.card {
    word-wrap: normal;
    padding: 2rem;
    margin: 2rem;
}

.card-text .label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: var(--title-color);
}

.card-text .label i.fa {
    color: var(--title-color);
}

.box {
    background: rgba(240, 240, 240, .8);
}

.box .label {
    font-size: 14px;

    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.075em;
    color: #333;
}

.box .info {
    font-weight: 600;
    color: #333;
}

/***********************
*         ABOUT        *
***********************/
#img-moviecam{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.about .logo {
    width: 10%;
}

.about {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
    font-size: 1.5rem;
}

.about h1 {
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    color: var(--title-color);
}

.about h2,
h3 {
    text-transform: capitalize;
    color: var(--title-color);
}

.instructions{
    display: flex;
    justify-content: space-around;
}

.instructions > div {
    text-align: center;
    padding: 2rem;
    width : 25%;
}

.instructions > div > p {
    margin-top: 1rem;
}

.instructions span{
    color : var(--title-color);
}

.instructions1{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 30%;
    }
}

.instructions2{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 20%;
    }
}

.instructions3{
    animation-duration: 2s;
    animation-name: slidein;
    /* border-right : 0.5px solid rgba(240, 240, 240, 0.13); */
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 10%;
    }
}

.instructions4{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 0%;
    }
}

.la-team{
    font-size : 2.5rem;
}

/***********************
*      CONTACT FORM    *     
************************/
.banniere-contact{
    position: relative;
}

.h1-contact{
    color: white;
    text-shadow: black 0.2em 0.3em 0.2em;
    font-size: 3.5rem;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
}

.h2-contact{
    color: white;
}

.container.content-contact {
    margin-top: 8vh;
    margin-bottom: 8vh;
    color: white;
}

.pcontact{
    font-size : 1.5rem;
}

.img-monde{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

/***********************
*       CREDITS        *
************************/


/***********************
*     LEGAL NOTICE     *
***********************/
.container.legal_notice {
    color: var(--sentence-color);
}

.legal_notice .logo {
    width: 20%;
}

.legal_notice .title {
    text-transform: uppercase;
}

.legal_notice .p {
    text-transform: uppercase;
}

/**********************
*       SIGN UP       *
**********************/
.container.signin {
    color: var(--sentence-color);
}

.img-charlie {
    width: 70%
}

.h1-signin {
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-signin{
    font-size: 1.3rem;
    background-color: var(--title-color);
}

.btn-signin:hover{
    background-color: red;
}

/**********************
*      LOGIN/OUT      *
**********************/
.container.login {
    color: var(--sentence-color);
}

.img-sieges {
    width: 35%;
}

.img-bye {
    width: 50%;
    border-radius: 10%;
}

/**********************
*       RESET PW      *
**********************/
.container.forgottenPw {
    color: var(--sentence-color);
}

/***** Animation ******/

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }


} 
  
.rubberBand .fa-lock {
    font-size: 4em;
    color: white;
}

.sendEmail {
    min-height: 500px;
}

/**********************
*      USER SPACE     *
**********************/



/**********************
*        ADMIN        *
**********************/
.container.user-view {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.container.user-suppr {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

/**********************
*        ERRORS       *
**********************/

.title-error {
    font-size: 1em;
    font-family: "Dosis";
}

.absolute-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9b9999;
    color: white;
}

.content-error {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.content-error-500 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    padding-left: 5em;
    padding-right: 5em;
}

.image {
    background-image: url("../img/erreur500.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}



/******* MEDIA QUERIES *******/

@media (max-width : 768px) {


    .randomly{
        font-size: 1.2em;
    }

    .randomposter {
        
        width: 220%;
    }

    .img-accueil{
        height: 40vh;
    }

    #logo-presentation img{
        width: 93%;
        height: 87%;        
    }

    #logo-presentation{
        top: 33%;
    }

    #accueil{
        height: 33vh;
    }

    .title-find{
        font-size: 2em;
        text-align: center;
    }

    #img-ticket{
        left: 32%;
    }
}

@media (min-width : 768px) {
    .card {
        margin: 4rem;
        padding-left: 6rem;
        padding-right: 8rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .title-error {
        font-size: 1.6em;
    }
}

@media screen and (min-width:1200px) {
    .title-error {
        font-size: 2.4em;
    }
  
}