/****************************
*          GENERAL           *
****************************/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
}

h1 {
    font-family: 'Limelight', cursive;
    color: var(--title-color);
    padding-bottom: 1em;
}

h2 {
    font-size: 24px;
    color: var(--title-color);
}

:root {
    --main-color: #151515;
    --title-color: #c42323;
    --sentence-color: #e8e8e8;
    --grey-color: #9b9999;
}

.btn.btn-secondary {
    margin-bottom: 2em;
}

.textinput {
    width: 100%;
}

.bg_perso {
    background-color: var(--grey-color);
}

/***********************
*    HEADER FOOTER     *
***********************/

/******* NAV BAR  *******/
header {
    background-color: var(--grey-color);
}

.logo-clap {
    width: 80px;
    height: 80px;
}

.navbar,
.footer {
    background-color: var(--grey-color);
}

.navbar a,
.footer span,
.footer a {
    color: var(--black-color) !important;
    font-size: 20px;
}

.navbar a:hover {
    color: var(--red-color) !important;
    font-size: 20px;
}

/* Flèche de retour en haut de page */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background: var(--grey-color);
}

/***********************
*         HOME         *
***********************/
section {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
    margin-top: 8vh;
}

.content.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.phome {
    font-size : 1.4rem;
}

.img-popcorn{
    width : 30%;
}

/***********************
*       FIND MOVIE     *
***********************/

.find-movie {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
}

.find-movie .logo {
    width: 15%;
}

.find-movie h1 {
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    color: var(--title-color);
}

.find-movie .choice {
    text-transform: capitalize;
    color: var(--sentence-color);
}

.find-movie h2 {
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 1.7em;
}

.find-movie .separator {
    border-bottom: 2px solid #e8e8e8;
    display: inline-block;
    width: 50vw;
    margin: 20px 0;
}

.find-movie .random-film {
    text-transform: uppercase;
}

/***film_actor_director***/

.find-movie #list_section ul {
    padding: 0;
    cursor: pointer;
    display: flex;
}

.find-movie #list_section li {
    display: inline-block;
    justify-content: space-around;
    background-color: #c42323;
    color: #e8e8e8;
    font-size: 1em;
    text-transform: capitalize;
    list-style-type: none;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #c42323;
    padding: 5px;
    margin: 10px;
    cursor: pointer !important;
}

.find-movie #list_section #tag {
    background-color: #c42323;
    color: #e8e8e8;
}

.img-clapper{
    width: 70%;
    border-radius: 5%;
    box-shadow: 8px 8px 0px #c42323;
}

/***********************
*       FILM PAGE      *
***********************/

.poster {
    margin-top: 80px;
    padding: 150px;
}

.btn.bg_perso.p-2 {
    margin-bottom: 1em;
}

.card {
    word-wrap: normal;
    padding: 2rem;
    margin: 2rem;
}

/***********************
*         ABOUT        *
***********************/

.about .logo {
    width: 15%;
}

.about {
    font-family: 'Dosis', sans-serif;
    background-color: var(--main-color);
    color: var(--sentence-color);
}

.about h1 {
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    color: var(--title-color);
}

.about h2,
h3 {
    text-transform: capitalize;
    color: var(--title-color);
}

/***********************
*      CONTACT FORM    *     
************************/
.container.content-contact {
    margin-top: 8vh;
    margin-bottom: 8vh;
    color: white;
}

/***********************
*       CREDITS        *
************************/


/***********************
*     LEGAL NOTICE     *
***********************/
.container.legal_notice {
    color: var(--sentence-color);
}

.legal_notice .logo {
    width: 20%;
}

.legal_notice .title {
    text-transform: uppercase;
}

.legal_notice .p {
    text-transform: uppercase;
}

/**********************
*       SIGN UP       *
**********************/
.container.signin {
    color: var(--sentence-color);
}

.img-charlie{
    width : 70%
}

.h1-signin{
    margin-bottom: 0;
    padding-bottom: 0;
}

/**********************
*      LOGIN/OUT      *
**********************/
.container.login {
    color: var(--sentence-color);
}

.img-sieges{
    width: 35%;
}

.img-bye{
    width: 50%;
    border-radius : 10%;
}

/**********************
*       RESET PW      *
**********************/
.container.forgottenPw {
    color: var(--sentence-color);
}

/**********************
*      USER SPACE     *
**********************/



/**********************
*        ADMIN        *
**********************/
.container.user-view {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.container.user-suppr {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

/**********************
*        ERRORS       *
**********************/

.title-error {
    font-size: 1em;
    font-family: "Dosis";
}

.absolute-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9b9999;
    color: white;
}

.content-error {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.content-error-500 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    padding-left: 5em;
    padding-right: 5em;
}

.image {
    background-image: url("../img/erreur500.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}



/******* MEDIA QUERIES *******/

@media (min-width : 768px) {
    .card {
        margin: 4rem;
        padding-left: 6rem;
        padding-right: 8rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* taille texte */
@media screen and (min-width:720px) {
    .title-error {
        font-size: 1.6em;
    }
}

@media screen and (min-width:1200px) {
    .title-error {
        font-size: 2.4em;
    }
}