{% extends 'base.html.twig' %}

{% block title %}User space{% endblock %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="{{ asset('asset/css/fabien.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="container">
    <div class="row justify-content-center mb-5">
        <h1 class="title">MON ESPACE</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-2 mb-12">
                <h2>Genres préférés:</h2>
            </div>
            <div class="col-2">
                <input type="checkbox" name="action">
                <label for="action" class="">Action</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="comedie">
                <label for="comedie" class="">Comédie</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="horreur">
                <label for="horreur" class="">Horreur</label>
            </div>
            <div class="col-4">
                <input type="checkbox" name="romantique">
                <label for="romantique" class="">Romantique</label>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <input type="checkbox" name="aventure">
                <label for="aventure" class="">Aventure</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="drame">
                <label for="drame" class="">Drame</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="sf">
                <label for="sf" class="">Science-fiction</label>
            </div>
            <div class="col-4">
                <input type="checkbox" name="populaire">
                <label for="populaire" class="">Populaire</label>
            </div>
            <div class="col-2 h-100">
                <h2>Acteur/Réalisateur préféré :</h2>
            </div>
            <div class="col-9">
                <input type="text" name="mon_super_acteur" id="un_acteur">
            </div>
            <div class="col-12 text-center my-5 ">
                <input type="submit" value="Enregistrer" class="btn button">
            </div>
        </div>
    </form>
    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>
</section>

{% endblock %}

{% block js %} 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ asset('asset/js/fabien.js') }}" > </script>

<script>

// Au submit du formulaire
    function myFunction($variable){
    // variable qui va récupéré la valeur de mon_super_acteur
    axios.post("{{ path('user_ajax_add_actor') }}", {
        actor: variable,
    })
    .then(function (response) {
        console.log(response);
    })
    .catch(function (error) {
        console.log(error);
    });
}
</script>
{% endblock %}