{% extends 'base.html.twig' %}

{% block title %}User space{% endblock %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="{{ asset('asset/css/fabien.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="container">
    <div class="row justify-content-center mb-5">
        <h1 class="title">MON ESPACE</h1>
    </div>
    <form method="get" id="person ">
        <h2 class="row justify-content-center my-5">Genres préférés :</h2>
        <div class="row justify-content-center">
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="action" name="action" value="action">
                <label class="form-check-label" for="action">Action</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="animation" name="animation" value="animation">
                <label class="form-check-label" for="animation">Animation</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="aventure" name="aventure" value="aventure">
                <label class="form-check-label" for="aventure">Aventure</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="comédie" name="comédie" value="comédie">
                <label class="form-check-label" for="comédie">Comédie</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="drame" name="drame" value="drame">
                <label class="form-check-scary" for="drame">Drame</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="famille" name="famille" value="famille">
                <label class="form-check-label" for="famille">Famille</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="fantastique" name="fantastique" value="fantastique">
                <label class="form-check-label" for="fantastique">Fantastique</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="guerre" name="guerre" value="guerre">
                <label class="form-check-label" for="guerre">Guerre</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="historique" name="historique" value="historique">
                <label class="form-check-label" for="historique">Historique</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="policier" name="policier" value="policier">
                <label class="form-check-label" for="policier">Policier</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="romance" name="romance" value="romance">
                <label class="form-check-label" for="romance">Romance</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="science-fiction" name="science-fiction"
                    value="science-fiction">
                <label class="form-check-label" for="science-fiction">Science fiction</label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" id="thriller" name="thriller" value="thriller">
                <label class="form-check-label" for="thriller">Thriller</label>
            </div>
            <div class="col-9">
                <input class="form-check-input" type="checkbox" id="epouvante-horreur" name="epouvante-horreur"
                    value="epouvante-horreur">
                <label class="form-check-label" for="epouvante-horreur">Epouvante-horreur</label>
            </div>
        </div>
        <h2 class="row justify-content-center my-5">Réalisateur/Acteur préféré :</h2>
        <div class="row justify-content-center ">
            <input type="text" name="acteur" id="acteur">
            <input type="button" value="Ajouter" id='etiquette' class="btn button">
        </div>
        <div class="row  mt-5" id="list_person">
        </div>
        <div class="col-12 text-center my-5 ">
            <input type="submit" value="Enregistrer" class="btn button">
        </div>
    </form>
</section>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ asset('asset/js/fabien.js') }}"> </script>

<script>
    // Au submit du formulaire
    $('#etiquette').on('click', function (e) {
        e.preventDefault();
        // variable qui va récupéré la valeur de mon_super_acteur
        variable = $('#acteur').val()
        axios.get("{{ path('user_ajax_add_actor') }}", {
                params: {
                    actor: variable,
                }
            })
            .then(function (response) {
                console.log(response);
                // response.data correspond au tableau de mon $this->json() dans le controller
                if (response.data.status == 'ko') {
                    alert(response.data.error);
                } else if (response.data.status == 'ok') {
                    alert(response.data.result);
                    // pour afficher le resultat dans une liste
                    $('#list_person').append('<li class="col-3" title="cliquer pour enlever">' + response
                        .data.result + '</li>');
                    $('#list_person').val('');
                }
                // remove etiquette
                $('#list_person').on('click', 'li', function () {
                    var $this = $(this);
                    $this.remove();
                })
            })
            .catch(function (error) {
                console.log(error);
            });
    })
</script>
{% endblock %}
